@charset "UTF-8";

*{

}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(225, 231, 224), #c9e0d1);

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: #f0f0f0;
    width: 350px;
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 18px;
    box-shadow: 0px 5px 40px #0000001f;
    border-radius: 5px;
    text-align: center;
}

img {
    width: 80px;
}

h1 {
    color: #272727d7;
    font-size: 30px;
    margin-bottom: 30px;
}

input:focus{
    opacity: 10;
  }

input::placeholder{
    color: #2a7a3b;
    opacity:65%;
}

input {
    color: #0a5523;
    opacity: 70%;
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ffae0000;
    border-radius: 5px;
}

a {
    color: #279224;
    text-decoration: none;
}

.color-pursuit-button {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #e79e01;
    margin-top: 10px;
    padding: 0.3em 4rem;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 10px;
}

.color-pursuit-button span {
    position: relative;
    pointer-events: none;
}

.color-pursuit-button::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #fae902, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}

.color-pursuit-button:hover::before {
    --size: 400px;
}

h2{
    margin-top: 40px;
    color: #222222;
    opacity: 70%;
    font-size: 12px;
}

h3{
    margin-top: -5px;
    margin-left: 25px;
    font-size: 12px;
    text-align: left;
}

  p {
    font-size: 22px;
    margin-top: -8px;
    transition: transform 0.2s ease-in-out;
  
    /* Efeito de escala ao passar o mouse */
    &:hover {
      transform: scale(1.02);
    }
  }


.dow{
    margin-top: -8em;
    text-align: center;
}

h5{
    font-size: 0.5em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 12.8em;
    opacity: 50%;
    color: #3a3a3a;
}

/* Media */

@media (max-width: 768px) {
    .login-form {
        width: 300px;
    }
}

@media (max-width: 576px) {
    .login-form {
        width: 200px;
    }
}

/*
  📣 Note: all sizes are in ems, so change the .toggle font-size to
  scale to whatever size you need.
*/

.toggle {
    margin: 20px;
    font-size: 0.7rem; /* Mudar o tamanho da feature */
    border: .125em solid currentColor;
    border-radius: 2em;
    cursor: pointer;
    display: block;
    height: 2em;
    position: absolute;
    width: 3.75em;
  }

  .toggle span {
    background-color: currentColor;
    border-radius: 2em;
    display: block;
    height: 1.5em;
    left: .25em;
    overflow: hidden;
    position: absolute;
    top: .25em;
    text-indent: -9999px;
    transition: left .25s;
    width: 1.5em;
    z-index: 2;
  }
  

  .toggle::before,
  .toggle::after {
    content: '';
    display: block;
    border-radius: 1em;
    position: absolute;
    z-index: 1;
  }
  
/*Lua*/

  .toggle::after {
    box-shadow: .25em .25em #380572;
    height: 1.125em;
    right: .9em;
    top: .125em;
    width: 1.125em;
  }
  
/*sol*/

  .toggle::before {
    background-color: #ffc409;
    height: .625em;
    outline: .25em dotted #ffc409;
    outline-offset: .125em;
    left: .7em;
    top: .7em;
    width: .625em;
  }
  
  input:checked ~ .toggle span {
    left: 2em;
  }
  
  
  .sr-only {
    position: absolute;
    left: -9999px;
    opacity: 0%;
  }

  body {
    align-items: top right;
    justify-content: center;
    transition: background-color .25s;
    color: #1e1e1e;
    background: linear-gradient(to bottom right, #ececec 25%, #c2c2c2 50%, #131313 75%, #222222);
    background-size: 300% 300%;
    background-position: top left;
    transition: background-position .5s;
  }
  body,
  html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  
  body:has(#darkmode-toggle:checked) {
    background-position: 100% 100%;
    color: #ebebeb;
  }