@charset "UTF-8";

*{

}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #257046, #32965D);

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.criarconta-form {
    background-color: #000000;
    width: 350px;
    padding-top: 35px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 18px;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
}

img {
    width: 100px;
    margin-bottom: 0px;
}

h1 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
}

input {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a {
    color: #f2cb57;
    text-decoration: none;
}

button {
    width: 80%;
    padding: 10px;
    font-size: 22px;
    margin-top: 80px;
    border: 1px solid #000;
    border-radius: 5px;
    background: linear-gradient(to bottom, #32965D, #257046);
    color: #fff;
    cursor: pointer;
    position: relative;
  
    /* Efeito hover */
    &:hover {
      box-shadow:
        0 0 0 0 #f2884b,
        0 0 1px 1px #f2cb57,
        0 0 1px 1px #f2884b,
        0 0 1px 1px #f2cb57;
        
    }
  }
  
h2{
    margin-top: 40px;
    color: #fff;
    font-size: 12px;
}

h3{
    text-align: left;
    color: #ddd;
    font-size: 12px;
    margin-left: 30px;
}

  p {
    font-size: 22px;
    margin-top: -8px;
    transition: transform 0.2s ease-in-out;
  
    /* Efeito de escala ao passar o mouse */
    &:hover {
      transform: scale(1.1);
    }
  }
  


/* Media */

@media (max-width: 768px) {
    .login-form {
        width: 300px;
    }
}

@media (max-width: 576px) {
    .login-form {
        width: 200px;
    }
}
