@charset "UTF-8";

*{

}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #558aa8, #2e4d5f);

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: #000000;
    width: 350px;
    padding-top: 35px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 18px;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
}

img {
    width: 100px;
    margin-bottom: 0px;
}

h1 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
}

input {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a {
    color: #32965D;
    text-decoration: none;
}

.color-pursuit-button {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #257046;
    margin-top: 10px;
    padding: 1em 3rem;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 10px;
}

.color-pursuit-button span {
    position: relative;
    pointer-events: none;
}

.color-pursuit-button::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #38a869, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}

.color-pursuit-button:hover::before {
    --size: 400px;
}

    /* Efeito hover */
&:hover {
    box-shadow:
    0 0 0 0 #f2884b,
    0 0 1px 1px #f2cb57,
    0 0 1px 1px #f2884b,
    0 0 1px 1px #f2cb57;
        
}
  
h2{
    margin-top: 40px;
    color: #fff;
    font-size: 12px;
}

h3{
    margin-top: -5px;
    margin-left: 25px;
    font-size: 12px;
    text-align: left;
}

  p {
    font-size: 22px;
    margin-top: -8px;
    transition: transform 0.2s ease-in-out;
  
    /* Efeito de escala ao passar o mouse */
    &:hover {
      transform: scale(1.1);
    }
  }
  


/* Media */

@media (max-width: 768px) {
    .login-form {
        width: 300px;
    }
}

@media (max-width: 576px) {
    .login-form {
        width: 200px;
    }
}
